[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/biosustain/data_club/blob/main/notebooks/data_wrangling/data_wrangling-solved.ipynb)


# Data Wrangling

In this notebook, we will see the initial steps of the Data Science process that have to do with Data wrangling:

<div>
<img src="https://github.com/biosustain/data_club/raw/main/figures/data_science_process.png" width="900"/>
</div>

The steps we will go through are:

#### - Data collection

#### - Data cleaning

#### - Data transformation

#### - Data annotation

#### - Data validation


As a project dataset, we will use [Xia et al 2022](https://www.nature.com/articles/s41467-022-30513-2): **Proteome allocations change linearly with the specific growth rate of Saccharomyces cerevisiae under glucose limitation**

<div>
<img src="https://github.com/biosustain/data_club/raw/main/figures/xia_et_al_2022.png" width="900"/>
</div>



And specifically the absolute proteome and transcriptome:

<div>
<img src="https://github.com/biosustain/data_club/raw/main/figures/xia_datasets.png" width="500"/>
</div>

## Collecting Data

[![Open Collecting Data notebook In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/biosustain/data_club/blob/main/notebooks/data_wrangling/CollectingData.ipynb)

In [44]:
import os
import pandas as pd

In [45]:
article_url = "https://static-content.springer.com/esm/art%3A10.1038%2Fs41467-022-30513-2/MediaObjects/" 
proteome_file = "41467_2022_30513_MOESM4_ESM.xlsx"
transcriptome_file = "41467_2022_30513_MOESM6_ESM.xlsx"

### Transcriptome data

<div>
<img src="https://github.com/biosustain/data_club/raw/main/figures/xia_trans_dataset.png" width="300"/>
</div>

In [46]:
transcriptome_data = pd.read_excel(os.path.join(article_url, transcriptome_file), header=0)

### Proteome data

<div>
<img src="https://github.com/biosustain/data_club/raw/main/figures/xia_prot_dataset.png" width="300"/>
</div>

In [47]:
proteome_data = pd.read_excel(os.path.join(article_url, proteome_file), header=0)

## Data Cleaning

### Transcriptome

**Print the first few rows of the dataset**

In [48]:
transcriptome_data.head()

,mRNA,0.027 h-1,0.044 h-1,0.102 h-1,0.152 h-1,0.214 h-1,0.254 h-1,0.284 h-1,0.334 h-1,0.379 h-1
0,R0010W,74.443125,76.433295,48.458353,49.549858,54.371609,54.687635,64.371427,32.918948,41.388778
1,YLR155C,37.84462,36.332161,35.091533,31.096557,29.066724,26.818775,29.592791,23.029033,22.431883
2,YLR159W,7.223876,6.016159,7.014012,5.542861,4.800111,3.934089,4.485135,3.743151,2.596469
3,YHR056C,18.64682,14.038290,14.158659,14.748175,15.365871,13.534869,13.671023,14.309881,13.978857
4,R0030W,209.821451,223.130456,128.572630,122.797999,134.245757,119.268918,116.934733,37.133109,49.136868

**Print the last few rows of the dataset**

In [49]:
transcriptome_data.tail()

,mRNA,0.027 h-1,0.044 h-1,0.102 h-1,0.152 h-1,0.214 h-1,0.254 h-1,0.284 h-1,0.334 h-1,0.379 h-1
5397,YIR037W,43.720757,39.436916,30.509322,24.063468,15.499160,12.375688,11.304063,10.017170,9.376099
5398,YIR038C,36.565257,41.522640,41.338161,30.007287,11.118764,5.330265,4.140029,3.060267,2.552028
5399,YIR042C,4.074353,3.446397,2.941126,2.984449,2.775477,3.346175,4.099377,4.051163,3.828515
5400,YIR043C,2.866278,2.966179,2.458101,2.493277,2.041143,1.960818,2.263917,2.413869,2.142419
5401,unit,molecules/cell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Have a look at the shape and format of the dataframe**

In [50]:
transcriptome_data.shape

(5402, 10)

In [51]:
transcriptome_data.dtypes

mRNA          object
0.027 h-1     object
0.044 h-1    float64
0.102 h-1    float64
0.152 h-1    float64
0.214 h-1    float64
0.254 h-1    float64
0.284 h-1    float64
0.334 h-1    float64
0.379 h-1    float64
dtype: object

**Check for missing values**

In [52]:
transcriptome_data.isnull().sum()

mRNA         0
0.027 h-1    0
0.044 h-1    1
0.102 h-1    1
0.152 h-1    1
0.214 h-1    1
0.254 h-1    1
0.284 h-1    1
0.334 h-1    1
0.379 h-1    1
dtype: int64

In [53]:
transcriptome_data[transcriptome_data.isnull().any(axis=1)]

,mRNA,0.027 h-1,0.044 h-1,0.102 h-1,0.152 h-1,0.214 h-1,0.254 h-1,0.284 h-1,0.334 h-1,0.379 h-1
5401,unit,molecules/cell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
transcriptome_data.tail().style.highlight_null('red')

### Proteome

**Print the first few rows of the dataset**

In [55]:
proteome_data.head()

,Unnamed: 0,Majority protein IDs,Gene Name,S1,S2,S3,S4,S5,S6,S7,...,S19,S20,S21,S22,S23,S24,S25,S26,S27,Categories
0,NaN,NaN,NaN,μ = 0.027h-1,NaN,NaN,μ = 0.044h-1,NaN,NaN,μ = 0.102h-1,...,μ = 0.284h-1,NaN,NaN,μ = 0.334h-1,NaN,NaN,μ = 0.379h-1,NaN,NaN,NaN
1,1.0,P19097,FAS2,82452.270205,79779.523009,84618.632024,118520.675453,117488.905399,117159.998068,138977.483255,...,85063.315645,93305.693602,88758.854070,78471.524958,81948.073191,72495.589492,62546.099164,56921.725042,74664.084377,lipid metabolism
2,2.0,Q00955,ACC1,80980.039401,79181.536246,83903.335061,86035.271225,79691.734225,85331.089655,67574.941552,...,50902.456412,56970.872752,53373.639893,50524.880588,51603.976968,46927.974480,40988.634801,36394.374344,48429.078610,lipid metabolism
3,3.0,P07259,URA2,39354.81494,38889.618852,40467.620523,42649.741464,41779.577050,41948.514658,50886.047984,...,42549.345866,52366.807193,44114.959866,52879.038353,53874.218583,50731.992629,44877.261859,41946.010033,59242.826490,Nucleotides
4,4.0,P07149,FAS1,70992.082651,68074.744978,71888.271167,99290.38363,98498.151949,98328.464667,116102.009908,...,70537.897812,75996.292451,72702.279944,65449.876876,68052.050691,58567.930810,51500.342385,47162.486880,59724.931330,lipid metabolism

**Print the last few rows of the dataset**

In [56]:
proteome_data.tail()

,Unnamed: 0,Majority protein IDs,Gene Name,S1,S2,S3,S4,S5,S6,S7,...,S19,S20,S21,S22,S23,S24,S25,S26,S27,Categories
2817,2817.0,P53438,SOK2,204.927485,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,209.988728,NaN,NaN,Stress
2818,2818.0,Q02889,MGR2,NaN,14949.477171,11974.576764,18719.481286,13430.066223,9956.162549,22747.645973,...,NaN,16562.554218,21429.095338,NaN,NaN,17428.429935,12529.373903,5590.157162,18601.391124,Mitochodria
2819,2819.0,Q12245,POC4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,254.665461,NaN,NaN,NaN,NaN,NaN,Other
2820,2820.0,Q12522,TIF6,NaN,NaN,NaN,NaN,10554.731886,NaN,13863.661502,...,NaN,12473.990516,NaN,NaN,NaN,18364.985155,NaN,NaN,NaN,Other
2821,2821.0,Q6WNK7,SUS1,NaN,1218.797373,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1553.036515,NaN,NaN,Transcription

**Have a look at the shape and format of the dataframe**

In [57]:
proteome_data.shape

(2822, 31)

In [58]:
proteome_data.dtypes

Unnamed: 0              float64
Majority protein IDs     object
Gene Name                object
S1                       object
S2                      float64
S3                      float64
S4                       object
S5                      float64
S6                      float64
S7                       object
S8                      float64
S9                      float64
S10                      object
S11                     float64
S12                     float64
S13                      object
S14                     float64
S15                     float64
S16                      object
S17                     float64
S18                     float64
S19                      object
S20                     float64
S21                     float64
S22                      object
S23                     float64
S24                     float64
S25                      object
S26                     float64
S27                     float64
Categories               object
dtype: object

**Check for missing values**

In [59]:
proteome_data.isnull().sum()

Unnamed: 0                 1
Majority protein IDs       1
Gene Name                  1
S1                       518
S2                       539
S3                       591
S4                       548
S5                       561
S6                       697
S7                       578
S8                       577
S9                       611
S10                      560
S11                      737
S12                      728
S13                      544
S14                      567
S15                     1010
S16                      733
S17                      731
S18                      619
S19                      601
S20                      579
S21                      615
S22                      802
S23                      639
S24                      705
S25                      623
S26                      780
S27                      841
Categories                 1
dtype: int64

In [60]:
proteome_data[proteome_data.isnull().any(axis=1)]

,Unnamed: 0,Majority protein IDs,Gene Name,S1,S2,S3,S4,S5,S6,S7,...,S19,S20,S21,S22,S23,S24,S25,S26,S27,Categories
0,NaN,NaN,NaN,μ = 0.027h-1,NaN,NaN,μ = 0.044h-1,NaN,NaN,μ = 0.102h-1,...,μ = 0.284h-1,NaN,NaN,μ = 0.334h-1,NaN,NaN,μ = 0.379h-1,NaN,NaN,NaN
125,125.0,P32528,"DUR1,2",190.230938,168.028818,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stress
128,128.0,P42945,UTP10,338.144001,347.817834,343.198828,424.375933,379.773282,420.200856,483.180537,...,546.326521,553.738208,595.563991,580.200713,581.887214,585.661193,578.857316,541.310536,636.392408,Transcription
129,129.0,P53978,HEF3,4456.685282,3643.125731,3504.225271,4941.309612,4172.405938,3250.157800,2018.830531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tanslation
176,176.0,P38811,TRA1,237.801867,NaN,NaN,225.036212,179.124859,NaN,348.054729,...,198.448534,NaN,NaN,NaN,309.860095,NaN,189.764376,NaN,NaN,Transcription
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2817,2817.0,P53438,SOK2,204.927485,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,209.988728,NaN,NaN,Stress
2818,2818.0,Q02889,MGR2,NaN,14949.477171,11974.576764,18719.481286,13430.066223,9956.162549,22747.645973,...,NaN,16562.554218,21429.095338,NaN,NaN,17428.429935,12529.373903,5590.157162,18601.391124,Mitochodria
2819,2819.0,Q12245,POC4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,254.665461,NaN,NaN,NaN,NaN,NaN,Other
2820,2820.0,Q12522,TIF6,NaN,NaN,NaN,NaN,10554.731886,NaN,13863.661502,...,NaN,12473.990516,NaN,NaN,NaN,18364.985155,NaN,NaN,NaN,Other
2821,2821.0,Q6WNK7,SUS1,NaN,1218.797373,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1553.036515,NaN,NaN,Transcription

In [61]:
proteome_data.tail().style.highlight_null('red')

**Handling missing values**


- _Missing at Random (MAR)_

MAR missing values mostly result from technical limitations and stochastic fluctuations in an abundance-independent manner

- _Missing Not at Random (MNAR)_

MNAR missing values are more abundance-dependent that can be explained by the measurability of the corresponding peptides

(source: [A comparative study of evaluating missing value imputation methods in label-free proteomics](https://www.nature.com/articles/s41598-021-81279-4))

Some options:

1. Drop rows or columns that have a missing value
```python
# drop column where there is a missing value
df.dropna(axis=1)
```

2. Fill with a constant value
```python
# use 0 to fill the gap
df.fillna(value=0)
```

3. Fill with an aggregated value (e.g., max, min, mean, median)
```python
# use the mean of the column for fill the gap
df['column1'].fillna(df['column1'].mean())
```

4. Replace with the previous (ffill) or next value (bfill)
```python
# use next valid observation to fill gap
df.fillna(method ='bfill')
```

5. Fill the missing values using linear method
```python
# to interpolate the missing values 
df.interpolate(method ='linear', limit_direction ='forward')
```

### Transcriptome

In [62]:
transcriptome_data_complete = transcriptome_data.dropna(inplace=False)  # Remove rows with missing data

In [63]:
transcriptome_data_complete.isnull().sum()

mRNA         0
0.027 h-1    0
0.044 h-1    0
0.102 h-1    0
0.152 h-1    0
0.214 h-1    0
0.254 h-1    0
0.284 h-1    0
0.334 h-1    0
0.379 h-1    0
dtype: int64

### Proteome

In [64]:
proteome_data.head()

,Unnamed: 0,Majority protein IDs,Gene Name,S1,S2,S3,S4,S5,S6,S7,...,S19,S20,S21,S22,S23,S24,S25,S26,S27,Categories
0,NaN,NaN,NaN,μ = 0.027h-1,NaN,NaN,μ = 0.044h-1,NaN,NaN,μ = 0.102h-1,...,μ = 0.284h-1,NaN,NaN,μ = 0.334h-1,NaN,NaN,μ = 0.379h-1,NaN,NaN,NaN
1,1.0,P19097,FAS2,82452.270205,79779.523009,84618.632024,118520.675453,117488.905399,117159.998068,138977.483255,...,85063.315645,93305.693602,88758.854070,78471.524958,81948.073191,72495.589492,62546.099164,56921.725042,74664.084377,lipid metabolism
2,2.0,Q00955,ACC1,80980.039401,79181.536246,83903.335061,86035.271225,79691.734225,85331.089655,67574.941552,...,50902.456412,56970.872752,53373.639893,50524.880588,51603.976968,46927.974480,40988.634801,36394.374344,48429.078610,lipid metabolism
3,3.0,P07259,URA2,39354.81494,38889.618852,40467.620523,42649.741464,41779.577050,41948.514658,50886.047984,...,42549.345866,52366.807193,44114.959866,52879.038353,53874.218583,50731.992629,44877.261859,41946.010033,59242.826490,Nucleotides
4,4.0,P07149,FAS1,70992.082651,68074.744978,71888.271167,99290.38363,98498.151949,98328.464667,116102.009908,...,70537.897812,75996.292451,72702.279944,65449.876876,68052.050691,58567.930810,51500.342385,47162.486880,59724.931330,lipid metabolism

**Filtering**

In [65]:
proteome_data_filtered = proteome_data.drop(columns=["Unnamed: 0","Categories"], axis=1)

In [66]:
proteome_data_filtered.head()

,Majority protein IDs,Gene Name,S1,S2,S3,S4,S5,S6,S7,S8,...,S18,S19,S20,S21,S22,S23,S24,S25,S26,S27
0,NaN,NaN,μ = 0.027h-1,NaN,NaN,μ = 0.044h-1,NaN,NaN,μ = 0.102h-1,NaN,...,NaN,μ = 0.284h-1,NaN,NaN,μ = 0.334h-1,NaN,NaN,μ = 0.379h-1,NaN,NaN
1,P19097,FAS2,82452.270205,79779.523009,84618.632024,118520.675453,117488.905399,117159.998068,138977.483255,144138.512881,...,91209.571471,85063.315645,93305.693602,88758.854070,78471.524958,81948.073191,72495.589492,62546.099164,56921.725042,74664.084377
2,Q00955,ACC1,80980.039401,79181.536246,83903.335061,86035.271225,79691.734225,85331.089655,67574.941552,70916.743805,...,47966.772571,50902.456412,56970.872752,53373.639893,50524.880588,51603.976968,46927.974480,40988.634801,36394.374344,48429.078610
3,P07259,URA2,39354.81494,38889.618852,40467.620523,42649.741464,41779.577050,41948.514658,50886.047984,52430.940434,...,44787.272380,42549.345866,52366.807193,44114.959866,52879.038353,53874.218583,50731.992629,44877.261859,41946.010033,59242.826490
4,P07149,FAS1,70992.082651,68074.744978,71888.271167,99290.38363,98498.151949,98328.464667,116102.009908,121262.573677,...,75095.928813,70537.897812,75996.292451,72702.279944,65449.876876,68052.050691,58567.930810,51500.342385,47162.486880,59724.931330

In [67]:
conditions = proteome_data_filtered.iloc[0].dropna().tolist()
print(conditions)

['μ = 0.027h-1', 'μ = 0.044h-1', 'μ = 0.102h-1', 'μ = 0.152h-1', 'μ = 0.214h-1', 'μ = 0.254h-1', 'μ = 0.284h-1', 'μ = 0.334h-1', 'μ = 0.379h-1']

In [68]:
proteome_data_filtered = proteome_data_filtered.drop(index=0, axis=0)

In [69]:
proteome_data_filtered.head()

,Majority protein IDs,Gene Name,S1,S2,S3,S4,S5,S6,S7,S8,...,S18,S19,S20,S21,S22,S23,S24,S25,S26,S27
1,P19097,FAS2,82452.270205,79779.523009,84618.632024,118520.675453,117488.905399,117159.998068,138977.483255,144138.512881,...,91209.571471,85063.315645,93305.693602,88758.854070,78471.524958,81948.073191,72495.589492,62546.099164,56921.725042,74664.084377
2,Q00955,ACC1,80980.039401,79181.536246,83903.335061,86035.271225,79691.734225,85331.089655,67574.941552,70916.743805,...,47966.772571,50902.456412,56970.872752,53373.639893,50524.880588,51603.976968,46927.974480,40988.634801,36394.374344,48429.078610
3,P07259,URA2,39354.81494,38889.618852,40467.620523,42649.741464,41779.577050,41948.514658,50886.047984,52430.940434,...,44787.272380,42549.345866,52366.807193,44114.959866,52879.038353,53874.218583,50731.992629,44877.261859,41946.010033,59242.826490
4,P07149,FAS1,70992.082651,68074.744978,71888.271167,99290.38363,98498.151949,98328.464667,116102.009908,121262.573677,...,75095.928813,70537.897812,75996.292451,72702.279944,65449.876876,68052.050691,58567.930810,51500.342385,47162.486880,59724.931330
5,P06105,SCP160,15866.563114,15589.045692,16002.005154,17532.347516,16867.256547,16872.126352,22262.699513,23154.853437,...,25720.021228,25762.256045,28125.209247,25498.954660,30447.87284,30838.126270,30499.993751,28210.792,23627.567774,35529.349996

! relevant --  Column Majority protein IDs

In [70]:
proteome_data_filtered[['Majority protein IDs']][proteome_data_filtered[['Majority protein IDs']].isnull().any(axis=1)]

Empty DataFrame
Columns: [Majority protein IDs]
Index: []

In [71]:
proteome_data_filtered[proteome_data_filtered.isnull().any(axis=1)]

,Majority protein IDs,Gene Name,S1,S2,S3,S4,S5,S6,S7,S8,...,S18,S19,S20,S21,S22,S23,S24,S25,S26,S27
125,P32528,"DUR1,2",190.230938,168.028818,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,P42945,UTP10,338.144001,347.817834,343.198828,424.375933,379.773282,420.200856,483.180537,515.972420,...,586.494196,546.326521,553.738208,595.563991,580.200713,581.887214,585.661193,578.857316,541.310536,636.392408
129,P53978,HEF3,4456.685282,3643.125731,3504.225271,4941.309612,4172.405938,3250.157800,2018.830531,2018.856591,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,P38811,TRA1,237.801867,NaN,NaN,225.036212,179.124859,NaN,348.054729,306.495282,...,NaN,198.448534,NaN,NaN,NaN,309.860095,NaN,189.764376,NaN,NaN
245,P47771,ALD2,4233.451694,4361.033506,3498.735383,3420.194636,3515.053451,2925.881315,2173.321622,2230.311857,...,529.884616,679.084755,601.981528,638.550391,NaN,493.073302,471.272621,463.021196,NaN,510.424842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2817,P53438,SOK2,204.927485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,282.593137,NaN,NaN,NaN,NaN,NaN,NaN,209.988728,NaN,NaN
2818,Q02889,MGR2,NaN,14949.477171,11974.576764,18719.481286,13430.066223,9956.162549,22747.645973,17016.265603,...,23202.292811,NaN,16562.554218,21429.095338,NaN,NaN,17428.429935,12529.373903,5590.157162,18601.391124
2819,Q12245,POC4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,254.665461,NaN,NaN,NaN,NaN,NaN
2820,Q12522,TIF6,NaN,NaN,NaN,NaN,10554.731886,NaN,13863.661502,NaN,...,18531.583595,NaN,12473.990516,NaN,NaN,NaN,18364.985155,NaN,NaN,NaN
2821,Q6WNK7,SUS1,NaN,1218.797373,NaN,NaN,NaN,NaN,NaN,NaN,...,2521.536238,NaN,NaN,NaN,NaN,NaN,NaN,1553.036515,NaN,NaN

In [72]:
proteome_data_filtered.shape

(2821, 29)

In [73]:
proteome_data_filtered.dropna().columns.shape

(29,)

In [74]:
proteome_data_complete = proteome_data_filtered.dropna()

### Complete dataframes

In [75]:
proteome_data_complete.head()

,Majority protein IDs,Gene Name,S1,S2,S3,S4,S5,S6,S7,S8,...,S18,S19,S20,S21,S22,S23,S24,S25,S26,S27
1,P19097,FAS2,82452.270205,79779.523009,84618.632024,118520.675453,117488.905399,117159.998068,138977.483255,144138.512881,...,91209.571471,85063.315645,93305.693602,88758.854070,78471.524958,81948.073191,72495.589492,62546.099164,56921.725042,74664.084377
2,Q00955,ACC1,80980.039401,79181.536246,83903.335061,86035.271225,79691.734225,85331.089655,67574.941552,70916.743805,...,47966.772571,50902.456412,56970.872752,53373.639893,50524.880588,51603.976968,46927.974480,40988.634801,36394.374344,48429.078610
3,P07259,URA2,39354.81494,38889.618852,40467.620523,42649.741464,41779.577050,41948.514658,50886.047984,52430.940434,...,44787.272380,42549.345866,52366.807193,44114.959866,52879.038353,53874.218583,50731.992629,44877.261859,41946.010033,59242.826490
4,P07149,FAS1,70992.082651,68074.744978,71888.271167,99290.38363,98498.151949,98328.464667,116102.009908,121262.573677,...,75095.928813,70537.897812,75996.292451,72702.279944,65449.876876,68052.050691,58567.930810,51500.342385,47162.486880,59724.931330
5,P06105,SCP160,15866.563114,15589.045692,16002.005154,17532.347516,16867.256547,16872.126352,22262.699513,23154.853437,...,25720.021228,25762.256045,28125.209247,25498.954660,30447.87284,30838.126270,30499.993751,28210.792,23627.567774,35529.349996

In [76]:
transcriptome_data_complete.head()

,mRNA,0.027 h-1,0.044 h-1,0.102 h-1,0.152 h-1,0.214 h-1,0.254 h-1,0.284 h-1,0.334 h-1,0.379 h-1
0,R0010W,74.443125,76.433295,48.458353,49.549858,54.371609,54.687635,64.371427,32.918948,41.388778
1,YLR155C,37.84462,36.332161,35.091533,31.096557,29.066724,26.818775,29.592791,23.029033,22.431883
2,YLR159W,7.223876,6.016159,7.014012,5.542861,4.800111,3.934089,4.485135,3.743151,2.596469
3,YHR056C,18.64682,14.038290,14.158659,14.748175,15.365871,13.534869,13.671023,14.309881,13.978857
4,R0030W,209.821451,223.130456,128.572630,122.797999,134.245757,119.268918,116.934733,37.133109,49.136868

## Data Transformation

In [77]:
conditions = [c.replace('μ = ', '') for c in conditions]

In [78]:
conditions

['0.027h-1',
 '0.044h-1',
 '0.102h-1',
 '0.152h-1',
 '0.214h-1',
 '0.254h-1',
 '0.284h-1',
 '0.334h-1',
 '0.379h-1']

In [79]:
samples = [c for c in proteome_data.columns if c.startswith('S')]
print(samples)

['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21', 'S22', 'S23', 'S24', 'S25', 'S26', 'S27']

In [80]:
i = 3
j = 0
cond_samples = {}
for c in conditions:
    cond_samples[c]=samples[j:i]
    j = i
    i += 3
    
print(cond_samples)

{'0.027h-1': ['S1', 'S2', 'S3'], '0.044h-1': ['S4', 'S5', 'S6'], '0.102h-1': ['S7', 'S8', 'S9'], '0.152h-1': ['S10', 'S11', 'S12'], '0.214h-1': ['S13', 'S14', 'S15'], '0.254h-1': ['S16', 'S17', 'S18'], '0.284h-1': ['S19', 'S20', 'S21'], '0.334h-1': ['S22', 'S23', 'S24'], '0.379h-1': ['S25', 'S26', 'S27']}

In [81]:
proteome_data_avg = proteome_data_complete[["Majority protein IDs"]].copy()
for c in cond_samples:
    proteome_data_avg[c] = proteome_data_complete[cond_samples[c]].mean(axis=1)

In [82]:
proteome_data_avg.head()

,Majority protein IDs,0.027h-1,0.044h-1,0.102h-1,0.152h-1,0.214h-1,0.254h-1,0.284h-1,0.334h-1,0.379h-1
1,P19097,82283.47508,117723.192973,139854.724417,145530.819326,94942.562258,88533.407082,89042.621106,77638.39588,64710.636194
2,Q00955,81354.970236,83686.031702,69020.542273,63916.863912,43512.069542,46422.92811,53748.989686,49685.610678,41937.362585
3,P07259,39570.684772,42125.94439,51048.838133,54496.872517,39643.89765,42510.136285,46343.704308,52495.083188,48688.699461
4,P07149,70318.366266,98705.666748,117445.578707,121333.442516,78241.593208,73175.196047,73078.823402,64023.286126,52795.920198
5,P06105,15819.204653,17090.576805,22403.007659,26265.027928,20179.533615,24555.169049,26462.139984,30595.330954,29122.569923

In [96]:
import numpy as np
proteome_data_avg = np.log2(proteome_data_avg.set_index("Majority protein IDs").astype(float)).reset_index()

In [40]:
#Afterwards
#proteome_data_avg["Majority protein IDs"] = proteome_data_avg["Majority protein IDs"].apply(lambda s: s.split(":")[0])

In [43]:
transcriptome_data_complete.to_csv('trasncriptomics.tsv', sep='\t', header=True, index=False, doublequote=None)

In [98]:
proteome_data_avg.to_csv('proteomics.tsv', sep='\t', header=True, index=False, doublequote=None)

## Data annotation


Adding metadata or labels to data to make it easier to understand and, work with it. This is a crucial step in data science applications, as it helps to identify patterns, classify data, make predictions or extend analyses.


Here, we will annotate the Protein identifiers with extra information from [UniProt](https://www.uniprot.org/). UniProt is a comprehensive and freely accessible resource of protein sequence and functional information, it has an [API (Application Programming Interface)](https://en.wikipedia.org/wiki/API) that allows [programmatic access](https://www.uniprot.org/help/programmatic_access) to this information.

Example:

```python

import requests, sys

requestURL = "https://www.ebi.ac.uk/proteins/api/proteins/P19097"

r = requests.get(requestURL, headers={ "Accept" : "application/json"})

if not r.ok:
  r.raise_for_status()
  sys.exit()

responseBody = r.text
print(responseBody)

```

In [ ]:
import requests, sys

requestURL = "https://www.ebi.ac.uk/proteins/api/proteins/P19097"

r = requests.get(requestURL, headers={ "Accept" : "application/json"})

if not r.ok:
  r.raise_for_status()
  sys.exit()

responseBody = r.text
print(responseBody)

In [42]:
import json
response= json.loads(responseBody)

In [43]:
def uniprot_protein_info(accession):
    requestURL = "https://www.ebi.ac.uk/proteins/api/proteins/ACC"

    r = requests.get(requestURL.replace("ACC", accession), headers={ "Accept" : "application/json"})

    if not r.ok:
      r.raise_for_status()
      sys.exit()

    responseBody = r.text
    response_dict= json.loads(responseBody)
    
    return response_dict

In [44]:
#response

In [45]:
#response['comments']

In [47]:
proteome_annotations = {}
for accession in proteome_data_avg['Majority protein IDs'].to_list()[:20]:
    response = uniprot_protein_info(accession)
    if "comments" in response:
        for comment in response['comments']:
                if 'reaction' in comment:
                    proteome_annotations[accession] = comment['reaction']["name"]
                    
annotations = pd.DataFrame.from_dict(proteome_annotations, orient='index', columns=["reaction"])

In [48]:
annotations

                                                 reaction
P19097  a (3R)-hydroxyacyl-[ACP] + NADP(+) = a 3-oxoac...
Q00955  ATP + hydrogencarbonate + N(6)-biotinyl-L-lysy...
P07259  carbamoyl phosphate + L-aspartate = H(+) + N-c...
P07149  (9Z)-octadecenoyl-[ACP] + H2O = (9Z)-octadecen...
P47169  3 H2O + hydrogen sulfide + 3 NADP(+) = 4 H(+) ...
Q12680  2 L-glutamate + NAD(+) = 2-oxoglutarate + H(+)...
P10964  a ribonucleoside 5'-triphosphate + RNA(n) = di...
P05694  5-methyltetrahydropteroyltri-L-glutamate + L-h...
P08566  3-phosphoshikimate + phosphoenolpyruvate = 5-O...
P16521                 ATP + H2O = ADP + H(+) + phosphate

In [49]:
proteome_data_avg = proteome_data_avg.set_index("Majority protein IDs").join(annotations)

## Data Validation

The final step involves verifying that the data has been transformed correctly and is ready for analysis. This step includes checking that the data is accurate, complete, and consistent.

In [51]:
proteome_data_avg.describe()

,0.027h-1,0.044h-1,0.102h-1,0.152h-1,0.214h-1,0.254h-1,0.284h-1,0.334h-1,0.379h-1,reaction
count,1445.00000,1445.000000,1445.000000,1445.000000,1445.000000,1445.000000,1445.000000,1445.00000,1445.000000,10
unique,1445.00000,1445.000000,1445.000000,1445.000000,1445.000000,1445.000000,1445.000000,1445.00000,1445.000000,10
top,82283.47508,117723.192973,139854.724417,145530.819326,94942.562258,88533.407082,89042.621106,77638.39588,64710.636194,a (3R)-hydroxyacyl-[ACP] + NADP(+) = a 3-oxoac...
freq,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1